In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\91638\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\91638\anaconda3\lib\site-packages (from pymongo) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
# Creating a new database 
mydb = client['Assgdb']

In [4]:
# Creating new directory
mycoll = mydb['Telephone']

In [5]:
# Inserting directory feilds into collection / insert_one
mydict = {'Name':'Sakthivel_P', 'Phone_No':98765453210, 'Place':'Tamil Nadu', 'Sex':'M'}
x = mycoll.insert_one(mydict)

In [6]:
# To display the records in the collection
for x in mycoll.find():
    print(x)

{'_id': ObjectId('639fead574dac0f5dfba8487'), 'Name': 'Sakthivel_P', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'M'}

In [7]:
# To insert many rows in existing feilds
bulkdict = [{'Name':'Siva', 'Phone_No':98765453210, 'Place':'Tamil Nadu', 'Sex':'M'},{'Name':'Simran', 'Phone_No':98765453210, 'Place':'Punjab', 'Sex':'F'},{'Name':'Saraswathi', 'Phone_No':98765453210, 'Place':'Tamil Nadu', 'Sex':'F'},{'Name':'Vairamani', 'Phone_No':98765453210, 'Place':'Gujarath', 'Sex':'M'}]
mycoll.insert_many(bulkdict)

In [8]:
# To display the records in the collection
for x in mycoll.find():
    print(x)

{'_id': ObjectId('639fead574dac0f5dfba8487'), 'Name': 'Sakthivel_P', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'M'}
{'_id': ObjectId('639fec2a74dac0f5dfba8488'), 'Name': 'Siva', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'M'}
{'_id': ObjectId('639fec2a74dac0f5dfba8489'), 'Name': 'Simran', 'Phone_No': 98765453210, 'Place': 'Punjab', 'Sex': 'F'}
{'_id': ObjectId('639fec2a74dac0f5dfba848a'), 'Name': 'Saraswathi', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'F'}
{'_id': ObjectId('639fec2a74dac0f5dfba848b'), 'Name': 'Vairamani', 'Phone_No': 98765453210, 'Place': 'Gujarath', 'Sex': 'M'}

In [11]:
# update one
old = {'Sex':'M'}
new = {'$set':{'Sex':'Male'}}
mycoll.update_one(old,new)
for x in mycoll.find():
    print(x)

{'_id': ObjectId('639fead574dac0f5dfba8487'), 'Name': 'Sakthivel_P', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'Male'}
{'_id': ObjectId('639fec2a74dac0f5dfba8488'), 'Name': 'Siva', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'M'}
{'_id': ObjectId('639fec2a74dac0f5dfba8489'), 'Name': 'Simran', 'Phone_No': 98765453210, 'Place': 'Punjab', 'Sex': 'F'}
{'_id': ObjectId('639fec2a74dac0f5dfba848a'), 'Name': 'Saraswathi', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'F'}
{'_id': ObjectId('639fec2a74dac0f5dfba848b'), 'Name': 'Vairamani', 'Phone_No': 98765453210, 'Place': 'Gujarath', 'Sex': 'M'}

In [12]:
# update many
old = {'Sex':'M'}
new = {'$set':{'Sex':'Male'}}
mycoll.update_many(old,new)
for x in mycoll.find():
    print(x)

{'_id': ObjectId('639fead574dac0f5dfba8487'), 'Name': 'Sakthivel_P', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'Male'}
{'_id': ObjectId('639fec2a74dac0f5dfba8488'), 'Name': 'Siva', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'Male'}
{'_id': ObjectId('639fec2a74dac0f5dfba8489'), 'Name': 'Simran', 'Phone_No': 98765453210, 'Place': 'Punjab', 'Sex': 'F'}
{'_id': ObjectId('639fec2a74dac0f5dfba848a'), 'Name': 'Saraswathi', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'F'}
{'_id': ObjectId('639fec2a74dac0f5dfba848b'), 'Name': 'Vairamani', 'Phone_No': 98765453210, 'Place': 'Gujarath', 'Sex': 'Male'}

In [13]:
# update many {one more}
old = {'Sex':'F'}
new = {'$set':{'Sex':'Female'}}
mycoll.update_many(old,new)
for x in mycoll.find():
    print(x)

{'_id': ObjectId('639fead574dac0f5dfba8487'), 'Name': 'Sakthivel_P', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'Male'}
{'_id': ObjectId('639fec2a74dac0f5dfba8488'), 'Name': 'Siva', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'Male'}
{'_id': ObjectId('639fec2a74dac0f5dfba8489'), 'Name': 'Simran', 'Phone_No': 98765453210, 'Place': 'Punjab', 'Sex': 'Female'}
{'_id': ObjectId('639fec2a74dac0f5dfba848a'), 'Name': 'Saraswathi', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'Female'}
{'_id': ObjectId('639fec2a74dac0f5dfba848b'), 'Name': 'Vairamani', 'Phone_No': 98765453210, 'Place': 'Gujarath', 'Sex': 'Male'}

In [14]:
# Delete one
to_del = {'Place':'Gujarath'}
mycoll.delete_one(to_del)
for x in mycoll.find():
    print(x)

{'_id': ObjectId('639fead574dac0f5dfba8487'), 'Name': 'Sakthivel_P', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'Male'}
{'_id': ObjectId('639fec2a74dac0f5dfba8488'), 'Name': 'Siva', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'Male'}
{'_id': ObjectId('639fec2a74dac0f5dfba8489'), 'Name': 'Simran', 'Phone_No': 98765453210, 'Place': 'Punjab', 'Sex': 'Female'}
{'_id': ObjectId('639fec2a74dac0f5dfba848a'), 'Name': 'Saraswathi', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'Female'}

In [15]:
# Delete many
to_del = {'Sex':'Female'}
mycoll.delete_many(to_del)
for x in mycoll.find():
    print(x)

{'_id': ObjectId('639fead574dac0f5dfba8487'), 'Name': 'Sakthivel_P', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'Male'}
{'_id': ObjectId('639fec2a74dac0f5dfba8488'), 'Name': 'Siva', 'Phone_No': 98765453210, 'Place': 'Tamil Nadu', 'Sex': 'Male'}

In [16]:
# Delete all
x = mycoll.delete_many({})
print(x.deleted_count)

2